body {
    background-color: #E2E8F0;
 }
header {
    color: #fff;
    margin: 20px 50px 0px 50px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
}
#menu ul li {
    display: inline;
    font-size: 25px;
}
#menu ul li a {
    padding: 0px 10px;
    display: inline;
    color: #1e3a8a;
    text-decoration: none;
    transition: all 0.3s ease; /* lembrar de usar essa função maneiro futuramente*/
}
h1 a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #B19CD9;
    display: inline;
    margin: 0px;
    font-size: 25px;
    text-decoration: none;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: #B19CD9;
}

#main1 h2 {
    margin-top: 200px;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #4ADE60;
}

p {
    font-size: x-large
}

button {
    height: 90px;
    width: 540px;
    border-radius: 100px;
    border: solid #4ADE60;
    background-color: #4ADE60;
    font-size: xx-large;
    color: #F1F5F9;
    margin-top: 40px;
    transition-duration: 0.4s;
    cursor: pointer;
}
button:hover {

    background-color: #555555;
    color: #F1F5F9;
    background-color: #30943f;
    border: solid #000000;
}

#sobre {
    text-align: center; 
    padding: 40px; 
    background-color: #4ADE60;
    border: ridge #30943f;
}
#sobre h2 
{
    color: #1e3a8a;
}

#main1{
    text-align: center;
}
#main2 {
    margin: 20px;
}
